* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr 30px;
    grid-template-columns: 100%;
}

header {
    align-self: center;
    background-color: rgb(114, 171, 179);
    padding: 10px 25px;
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

.btn {
    background-color: rgb(175, 134, 158);
    /* Green */
    border: none;
    color: rgb(13, 39, 56);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}

.btn:active {
    background-color: rgb(13, 61, 73);
    outline: none;
    border-radius: 25px;
}

header button {
    width: 175px;
    margin: 5px 0;
}

.overview {
    text-align: center;
    width: 100%;
    border: 1px solid rgb(253, 251, 251);
    margin: 5px auto;
}

.stories {
    background-color: whitesmoke;
    display: grid;
    border: 5px solid white;
}

header .buttons {
    text-align: right;
    align-self: center;
}

.story {
    padding: 5px;
    background-color: rgb(114, 171, 179);
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 5px solid white;
}

.story-header {
    display: grid;
    grid-template-columns: auto 50px;
    margin-bottom: 3px;
    border-bottom: .5px solid white;
    padding-bottom: 5px;
}

.save-story {
    padding: 5px 10px;
    font-size: 12px;
}

.story-buttons {
    text-align: right;
}

.comment-story {
    width: 100%;
    margin: 0;
    font-size: 11px;
    padding: 0;
    height: 50%
}

.delete-story {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    font-size: 11px;
    background-color: red;
}

.scraped-stories .comment-story {
    display: none;
}

.scraped-stories .delete-story {
    display: none;
}

.saved-stories .save-story {
    display: none;
}

.story-comments {
    background-color: whitesmoke;
    border: .5px solid black;
    padding: 5px;
    margin: 5px auto;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid cadetblue;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.modal-content textarea {
    width: 100%;
    height: 75px;
    resize: none;
    background-color: lightgray;
    outline: none;
    border: .5px solid cadetblue;
}

.modal form {
    margin-top: 10px;
}

.save-buttons {
    text-align: right;
}

footer {
    background: lightgray;
    margin-top: 5px;
    color: cadetblue;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}